* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

form {
  min-width: 350px;
  min-height: 250px;
  background: rgba(160, 160, 160, 0.5);
  padding: 20px;
  box-shadow: 3px 10px 13px 10px #333;
}

.form-registration {
  min-width: 350px;
  min-height: 250px;
  background: rgba(160, 160, 160, 0.5);
  padding: 20px;
  box-shadow: 3px 10px 13px 10px #333;
}

form input[type="submit"] {
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
}

form a:hover {
  text-decoration: none;
}

form a {
  margin-top: 20px;
  padding: 5px;
}

#primaryColor {
  color: rgb(15, 208, 214);
}
